.ng-window {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 7px 1px rgba(128,128,128,0.2);
    background-color: #fff;
    position: absolute;
    padding-top: 29px;
    min-height: 30px;
    min-width: 90px;
}

.ng-window.active {
    box-shadow: 1px 1px 7px 1px rgba(51, 122, 183,0.2);
    border-color: rgba(51, 122, 183, 0.6);
}

.ng-window.active .ng-window-titlebar {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
}

.ng-window-titlebar {
    border-bottom: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    background-color: #f5f5f5;
    position: relative;
    width: 100%;
    height: 29px;
    min-height: 29px;
    padding: .4em 0;
    margin-top: -29px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ng-window-title {
    position: absolute;
    left: 0.44em;
    right: 0.44em;
    overflow: hidden;
    cursor: inherit;
}

.ng-window-actions {
    position: absolute;
    top: 0;
    right: .4em;
    padding-top: .4em;
    font-size: 12pt;
    color: inherit;
}

.ng-window-content {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0 0 4px 4px;
}

.ng-window-content > div {
    height: 100%;
    width: 100%;
}

.ng-window-resize {
    position: absolute;
}

.ng-window-resize-n {
    top: -3px;
    width: 100%;
    height: 6px;
    cursor: n-resize;
}

.ng-window-resize-s {
    bottom: -3px;
    width: 100%;
    height: 6px;
    cursor: s-resize;
}

.ng-window-resize-e {
    height: 100%;
    width: 6px;
    top: 0;
    right: -3px;
    cursor: e-resize;
}

.ng-window-resize-w {
    height: 100%;
    width: 6px;
    top: 0;
    left: -3px;
    cursor: w-resize;
}

.ng-window-resize-se {
    height: 20px;
    width: 20px;
    bottom: -3px;
    right: -3px;
    cursor: se-resize;
}

.ng-window-resize-sw {
    height: 10px;
    width: 10px;
    bottom: -3px;
    left: -3px;
    cursor: sw-resize;
}

.ng-window-resize-nw {
    height: 10px;
    width: 10px;
    top: -3px;
    left: -3px;
    cursor: nw-resize;
}

.ng-window-resize-ne {
    height: 10px;
    width: 10px;
    top: -3px;
    right: -3px;
    cursor: ne-resize;
}


/***** Fonts *****/

a, a:hover, a:active, a:visited {
    text-decoration:none;
    color: inherit;
}

@font-face {
    font-family: "custom-icon-font";
    src:url("fonts/custom-icon-font.eot");
    src:url("fonts/custom-icon-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/custom-icon-font.woff") format("woff"),
    url("fonts/custom-icon-font.ttf") format("truetype"),
    url("fonts/custom-icon-font.svg#custom-icon-font") format("svg");
    font-weight: normal;
    font-style: normal;

}

.ng-window-icon {
    position:relative;
    top:1px;
    display:inline-block;
    font-family:'custom-icon-font' !important;
    font-style:normal;
    font-weight:400;
    line-height:1;
    -webkit-font-smoothing:antialiased;
}


.ng-window-maximize:before {
    content: "a";
}
.ng-window-contract:before {
    content: "b";
}
.ng-window-close:before {
    content: "c";
}
